.navbar{
    margin-bottom: 5px;
}

.header-cont{
    text-align: center;
    background-position: inherit;
    background-size: 100%;
    height: 90px;
    float: left;
    width: 100%; 
}

.header-text{
    font-weight: bold;
    color: #f00;
    font-size: 29px;
}

.chiste-row{
    border: 1px solid #949494;
    margin-bottom: 3px;
    background-color: #209e36;
    color: #FFF;
    padding: 5px;
}

.listado-chistes{
    margin-top: 10px;
}

.chiste-row-title{
    font-size: 18px;
}

.chiste-show-title{
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    background-color: #18bd4b;
    display: block;
    color: #FFF;
    border: 1px solid #017d27;
}

.chiste-show-content{
    padding: 10px;
}